{% extends 'layouts/base.html' %} {% block title %} Chat {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  .message-contacts {
    border-bottom: 1px solid #1e4891;
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: 0 0;
  }
  .send-message > .card-body{
    display:flex;
    gap:1rem;
  }
  .send-message > .card-body > textarea{
    border-radius: 10px;
    border: 1px solid #1e4891;
    width: 100%;
    background-color: transparent;
    color:white;
  }

  .messageBox {
    width: 100%;
    margin-left: 2em;
    height: 70vh;
    display: flex;
    flex-direction: row;
  }
  .send-message{
    position:absolute;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin:0;
    border-top:1px  solid #1e4891;
    box-shadow: 0 0;
    width:100%;
    
  }
  .message-view {
    border-radius: 10px;
    border: 1px solid #1e4891;
    margin-left: 1.25em;
    width: 70%;
    max-width: 70%;
    padding:0;
    flex: auto;
    display:flex;   
    position: relative;
  }

  .message-contacts>.card-body {
    padding: 1rem 1rem 1rem 1rem;
  }
</style>
{% endblock stylesheets %} {% block content %}

<!-- Header -->
<div class="header bg-gradient-primary pb-1 pt-5 pt-md-8"></div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow" style="background-color: #172b4d">
        <div class="card-header bg-transparent" style="border-bottom: 1px solid #1e4891">
          <h3 class="mb-0" style="color: white">Chat</h3>
        </div>
        <div class="card-body">
          <div class="row icon-examples">
            <!-- messaging -->
            <div class="messageBox" style="">
              <div class="col-lg-3 col-md-6"
                style="border-radius: 10px; border: 1px solid #1e4891; width:30%; max-width:30%; ">
                <div class="card card-stats bg-default message-contacts">
                  <div class="card-body contact  ">
                    <div class="row">
                      <div class="col">
                        <span class="h4 font-weight-bold mb-0" style="color: white">
                          <i class="ni ni-chat text-primary"></i>
                          Sujan Sharma
                        </span>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card card-stats bg-default message-contacts">
                  <div class="card-body contact ">
                    <div class="row">
                      <div class="col">
                        <span class="h4 font-weight-bold mb-0" style="color: white">
                          <i class="ni ni-chat text-primary"></i>
                          Nibba Sharma
                        </span>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 message-view" >
                <div class="card card-stats bg-default send-message">
                  <div class="card-body">
                    <textarea class="form-control" placeholder="Enter your message"></textarea>
                    <input type = "submit" class="btn btn-primary" value="Send">
                    
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/clipboard/dist/clipboard.min.js"></script>

{% endblock javascripts %}
</div>