{% extends 'layouts/base.html' %} {% block title %} My Status {% endblock title%}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
.close-notification{
  cursor: pointer;
}
.table-responsive > table > thead > tr > th {
  color:black !important;
  font-size: 0.7rem;
}
.table-responsive > table  {
  color:black !important;
  
}
.table-responsive > table > tbody {
  background-color: #f8faff;
}
  
</style>
{% endblock stylesheets %} {% block content %}

<!-- Header -->
<div class="header bg-primary pb-6">
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="header-body">
      <div class="row" >
        <div class="col-12">
          <div class="card status card-stats" style="background-color: #eef4ff;">
            <div class="card-body">
                <div class="col">
                  <h4 class="card-title text-uppercase  mb-0 pt-2">
                    College Applications
                  </h4>
                </div>
              <hr style="margin:1rem;"/>
              <!-- College Application Header -->
              <div class="table-responsive">
                <table class="table align-items-center table-light table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" data-sort="program-name">Program</th>
                      <th scope="col" data-sort="program-country">Country</th>
                      <th scope="col" data-sort="program-college">College</th>
                      <th scope="col">Start Date</th>
                      <th scope="col" data-sort="program-end-date">
                        End Date
                      </th>
                      <th scope="col">Tuition Fee (EST)</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody class="list" id="application-list">
                    <tr>
                      <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="/static/assets/img/theme/bootstrap.jpg"/>
                        </a>
                        <div class="media-body">
                          <span class="name mb-0 text-sm">Computer Programming</span>
                        </div>
                      </div>
                      </th>
                      <td class="country">Canada</td>
                      <td>
                      
                        <!-- <i class="bg-warning"></i> -->
                        <span class="status">Seneca Polytechnic</span>
                      
                      </td>
                      <td>
                        <span class="start-date">2021-09-01</span>
                      </td>
                      <td>
                        <span class="end-date">2023-05-01</span>
                      </td>
                      <td>
                        <span class="tuition-fee">$15,000</span>
                      </td>
                      <td class="status">
                        <span class="badge badge-dot mr-3">
                        <i class="bg-cyan"></i>
                        <span class="status">Applied</span>
                        </span>
                      </td>
                    </tr>

                    
                    <tr>
                      <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="/static/assets/img/theme/bootstrap.jpg"/>
                        </a>
                        <div class="media-body">
                          <span class="name mb-0 text-sm">Computer Programming</span>
                        </div>
                      </div>
                      </th>
                      <td class="country">Canada</td>
                      <td>
                      <span class="badge badge-dot mr-4">
                        <!-- <i class="bg-warning"></i> -->
                        <span class="status">Seneca Polytechnic</span>
                      </span>
                      </td>
                      <td>
                        <span class="start-date">2021-09-01</span>
                      </td>
                      <td>
                        <span class="end-date">2023-05-01</span>
                      </td>
                      <td>
                        <span class="tuition-fee">$15,000</span>
                      </td>

                      <td>
                        <span class="badge badge-dot mr-3">
                        <i class="bg-green"></i>
                        <span class="status">Approved</span>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="/static/assets/img/theme/bootstrap.jpg"/>
                        </a>
                        <div class="media-body">
                          <span class="name mb-0 text-sm">Computer Programming</span>
                        </div>
                      </div>
                      </th>
                      <td class="country">Canada</td>
                      <td>
                      <span class="badge badge-dot mr-4">
                        <!-- <i class="bg-warning"></i> -->
                        <span class="status">Seneca Polytechnic</span>
                      </span>
                      </td>
                      <td>
                        <span class="start-date">2021-09-01</span>
                      </td>
                      <td>
                        <span class="end-date">2023-05-01</span>
                      </td>
                      <td>
                        <span class="tuition-fee">$15,000</span>
                      </td>

                      <td>
                        <span class="badge badge-dot mr-3">
                        <i class="bg-yellow"></i>
                        <span class="status">Draft</span>
                        </span>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  <div class="row">
    <div class="col-xl-8">
      <div class="card bg-default">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
              <h5 class="h3 text-white mb-0">Notifications</h5>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li>Hello</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="card pl-4 h3 pt-3 pb-3 pr-3 text-white" style="background: rgb(0, 161, 0);">
            <div style="display:flex; flex-direction: row; justify-content: space-between;">
              <div>
              Congratulations 🥳, your offer letter has been approved.
            </div>
            <div class="close-notification">
             <img width="20" height="20" src="https://img.icons8.com/glyph-neue/64/FFFFFF/delete-sign.png" alt="delete-sign"/>
            </div>
            </div>
            
           
          </div>
          <div class="card pl-4  h3 pt-3 pr-3 pb-3 text-white" style="background: rgb(0, 156, 232)">
            <div style="display:flex; flex-direction: row; justify-content: space-between;">
              <div>
            Your application is successfully submitted to Seneca Polytechnic.
            </div>
            <div class="close-notification">
             <img width="20" height="20" src="https://img.icons8.com/glyph-neue/64/FFFFFF/delete-sign.png" alt="delete-sign"/>
            </div>
            </div>
          </div>
          <div class="card pl-4  h3 pt-3 pr-3 pb-3 text-white" style="background: rgb(0, 156, 232)">
            <div style="display:flex; flex-direction: row; justify-content: space-between;">
              <div>
            We received your transcripts and marksheets, thank you!
            </div>
            <div class="close-notification">
             <img width="20" height="20" src="https://img.icons8.com/glyph-neue/64/FFFFFF/delete-sign.png" alt="delete-sign"/>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Documents Checklist</h6>
              <h5 class="h3 mb-0">Tasks Completed</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-8">
      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Page visits</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush" hidden>
            <thead class="thead-light">
              <tr>
                <th scope="col">Page name</th>
                <th scope="col">Visitors</th>
                <th scope="col">Unique users</th>
                <th scope="col">Bounce rate</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">/argon/</th>
                <td>4,569</td>
                <td>340</td>
                <td>
                  <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                </td>
              </tr>
              <tr>
                <th scope="row">/argon/index.html</th>
                <td>3,985</td>
                <td>319</td>
                <td>
                  <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%
                </td>
              </tr>
              <tr>
                <th scope="row">/argon/charts.html</th>
                <td>3,513</td>
                <td>294</td>
                <td>
                  <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49%
                </td>
              </tr>
              <tr>
                <th scope="row">/argon/tables.html</th>
                <td>2,050</td>
                <td>147</td>
                <td>
                  <i class="fas fa-arrow-up text-success mr-3"></i> 50,87%
                </td>
              </tr>
              <tr>
                <th scope="row">/argon/profile.html</th>
                <td>1,795</td>
                <td>190</td>
                <td>
                  <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Links</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive" >
          <!-- Projects table -->
          <table class="table align-items-center table-flush" hidden>
            <thead class="thead-light">
              <tr>
                <th scope="col">Referral</th>
                <th scope="col">Visitors</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Facebook</th>
                <td>1,480</td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">60%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-gradient-danger"
                          role="progressbar"
                          aria-valuenow="60"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 60%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">Facebook</th>
                <td>5,480</td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">70%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-gradient-success"
                          role="progressbar"
                          aria-valuenow="70"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 70%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">Google</th>
                <td>4,807</td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">80%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-gradient-primary"
                          role="progressbar"
                          aria-valuenow="80"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 80%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">Instagram</th>
                <td>3,678</td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">75%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-gradient-info"
                          role="progressbar"
                          aria-valuenow="75"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 75%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">twitter</th>
                <td>2,645</td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">30%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-gradient-warning"
                          role="progressbar"
                          aria-valuenow="30"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 30%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
